#page-top {
    padding-top: 0 !important;
}
.blog-name {
    font-size: 2rem;
}
.post p, .post ul, .post li {
    color: black;
}
pre, code {text-align: left;}
.info {
    min-height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.post {
    text-align: left;
    font-size: 1.2rem;
    margin: 7% 3%;
}

pre.comment {
    font-weight: 10;
    overflow: visible;
}

.tag-block {
    margin: 1%;
}
.author {
    margin-bottom: 5%;
}

@media (min-width:768px) {
    .allposts {
        position: fixed;
        bottom: 1%;
    }
}

.post-body a img {
    max-width: 80%;
}

.post-body img {
    max-width: 80%;
}

.post blockquote {
    padding-left: 2%;
    border-left: 4px solid #ffc107;
}
.social-icons {width:100%;}
.social-icons a {
    color: #ffc107 !important;
    background-color: white !important;
}

.social-icons a:focus, .social-icons a:hover {
    background-color: #ffc107 !important;
    color: white !important;
}

.post-tag a {
    color: #ffc107 !important;
    background-color: white !important;
}
.post-tag a:focus, .post-tag a:hover {
    color: black !important;
    background-color: #ffc107 !important;
}

.post table {
    width: 80%;
    align: center;
}
.post table, th, td {
    border: 2px solid #2C3E50;
}
.post th, td {
    padding: 1%;
}
.post tr:hover {background-color: #fffbca;}
.post th {
    background-color: #2C3E50;
    color: white;
}

.post h2:hover, .post h3:hover, .post h4:hover, .post h5:hover, .post h6:hover {
    color: #ffc107;
}
.post h2 a, .post h3 a, .post h4 a, .post h5 a, .post h6 a {
    text-decoration: none;
    color: #343a40;
}

.post h2 a:hover, .post h3 a:hover, .post h4 a:hover, .post h5 a:hover, .post h6 a:hover ,
.post h2 a:focus, .post h3 a:focus, .post h4 a:focus, .post h5 a:focus, .post h6 a:focus {
    color: #ffc107;
    text-decoration: none;
}

.toc-header ul {
    list-style-type: none;
}

.toc-header ul li:before {
    content: '\1F4DA';
    margin: 0 0.5em;
}

/* Table of Contents (TOC) */
@media (max-width:767px) {
    .toc-zone {display:none;}
    .toc {display: none;}
}

@media (min-width:768px) {
    .toc-zone {
        width: 100%;
        height: 40%;
    }
    .toc {
        background:rgba(255, 255, 255, 0.4);
        overflow:hidden;
        border-top:    2px solid #2C3E50;
        border-bottom: 2px solid #2C3E50;
        font-size: 0.8em;
        height: 100%;
        width: 100%;
        padding-left: 0%;
        margin-top: 0%;
    }
    .toc:hover { overflow-y:scroll; visibility: visible; }
    .toc ul {
        list-style-type: none;
        padding-left: 10%;
    }
    .toc li {
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


/* Comments color in the code blocks */
.hljs-comment {color: #c0c0c0 !important;}
